header {
  display: block;
  margin: 0 auto;
  width: 500px;
  text-align: center;
}
header h1 {
  font-family: Arial;
  font-size: 50px;
  font-weight: bold;
}
header p {
  font-family: Arial;
  font-size: 25px;
  margin: 5px auto;
}
