body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.flex h1 {
  font-family: Arial;
  font-size: 40px;
  font-weight: bold;
}
.setting {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0 10px;
}
.setting #newGameBtn {
  display: block;
  padding: 8px;
  background-color: #8f7a66;
  font-family: Arial;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}
.setting .difficulty-mode {
  display: block;
  padding: 8px;
  border: none;
  background-color: #8f7a66;
  font-family: Arial;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}
.setting .game-mode {
  display: block;
  padding: 8px;
  border: none;
  background-color: #8f7a66;
  font-family: Arial;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}

/* 棋盘 */
.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 360px;
  height: 360px;
  padding: 10px;
  background-color: #bbada0;
  border-radius: 10px;
}
.grid-cell {
  background-color: #ccc0b3;
  width: 80px;
  height: 80px;
  border-radius: 6px;
}
