.hidden {
  display: none;
}
.card {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.modal {
  background-color: transparent;
  left: 17%;
  margin-left: -15vw;
  margin-top: -10vw;
  position: fixed;
  top: 15%;
  z-index: 11; /* 1px higher than the overlay layer */

  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
