.grid-container {
  width: 410px;
  height: 410px;
  margin: 10px auto;
  padding: 5px;
  background-color: #bbada0;
  border-radius: 10px;
  outline: none;
  position: relative;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}
.grid-cell {
  width: 90px;
  height: 90px;
  margin: 5px;
  line-height: 90px;
  display: inline-block;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border-radius: 7px;
  background-color: #ccc0b3;
}
.number-cell {
  width: 90px;
  height: 90px;
  margin: 5px;
  line-height: 90px;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border-radius: 7px;
  color: #fff;
  position: absolute;
  font-weight: bold;
}
